@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --trans-white: hsla(0, 0%, 100%, 0.75);
  --very-light-grey: hsl(0, 0%, 95%);
}

.bright-orange-bg {
  background-color: var(--bright-orange);
}

.dark-cyan-bg {
  background-color: hsl(179, 100%, 13%);
}

.light-cyan-bg {
  background-color: hsl(184, 100%, 22%);
}
.bright-orange-color {
  color: var(--bright-orange);
}

.dark-cyan-color {
  color: hsl(179, 100%, 13%);
}

.light-cyan-color {
  color: hsl(184, 100%, 22%);
}

.row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.cards {
  width: 100%;
  max-width: 950px;
  border-radius: 5px;
  overflow: hidden;
}

.card__item {
  padding: 3em;
}

.card__item-title {
  font-family: 'Big Shoulders Display', cursive;
  color: #fff;
  font-size: 1.8rem;
}

.card__item-body {
  color: var(--trans-white);
  line-height: 150%;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9rem;
  margin-bottom: 5em;
}

.card__item-btn {
  background: #fff;
  border-radius: 100px;
  padding: 0.7em 2em;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:hover {
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  header {
    height: auto;
  }
  .cards {
    margin: 3em 2em;
  }

  .container {
    width: 60%;
    margin: 0 auto;
  }
  .card__item {
    /* padding: 2rem; */
  }

  .card__item-body {
    margin-bottom: 1.5em;
    font-size: 0.8rem;
  }
  .card__item-title {
    margin-bottom: 0.3em;
    font-size: 1.5rem;
  }
  .card__item-btn {
    font-size: 0.7rem;
  }
  .attribution {
    margin: 2em;
  }
}

@media only screen and (max-width: 376px) {
  .container {
    width: 100%;
  }
  .attribution {
    margin: 2em;
    font-size: 0.8rem;
  }
}
